:concurrency: 10
:timeout: 30

:queues:
  - default
  - mailers

:scheduler:
  :schedule:
    sync_games_job:
      cron: '0 * * * *'  # Toutes les heures
      class: SyncGamesJob
      queue: default
      enabled: true
